# NETWORK CONFIGURATION
# ------------------------------

# Since we use Z-Way server for communication, first we need login and url info
# Login URL
loginUrl=http://sunstreaker.polito.it:8083/

# ------------------------------

# Time between 2 subsequent polls of the Z-Wave network in milliseconds
pollingTimeMillis = 1000 

# Time between two consecutive tests of the connection to the house (after)
betweenTrialTimeMillis=30000

# the number of connection trials...
numTry=3
