# NETWORK CONFIGURATION
# ------------------------------

# Since we use zway server for communication, first we need login and url info
# Login URL
loginUrl=https://z-cloud.z-wave.me:13832/

# Server username and password
username= {username}
password= {password}

# The Server trust store
trustStorePath = {path to ZWaveNetworkDriver}/cert/jssecacerts

# ------------------------------

# Time between 2 subsequent polls of the zway values
pollingTimeMillis = 1000 

# Time between two consecutive tests of the connection to the house (after)
betweenTrialTimeMillis=30000

# the number of connection trials...
numTry=3
